.AdminOrders {

    h3 { 
        margin: 2rem 0;
    }

    .orders-table {
        
        thead {
            border-radius: 1rem;
            background-color: #121212;

            tr {

                th {
                    color: white;
                    padding: 1.5rem;
                    font-size: 0.9rem;
                    border: none;
                    text-transform: capitalize;
                }

            }

            .name-header {
                border-radius: 0.5rem 0 0 0.5rem;
            }

            .product-header {
                border-radius: 0 0.5rem 0.5rem 0;
            }
        }

        tbody {
            td {
                border-bottom-color: #121212;
            }

            .price-cell {
                border: 1px solid #25A146;
                padding: 0.1rem 0.5rem;
            }
        }

    }
}